{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'Widgets/css/dehash.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DashboardPage/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Widgets/css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Mada&display=swap" rel="stylesheet">
    <title>WeDash - Dashboard</title>
</head>
<body style="background-color: #EBEDFB;">
    <header>
        {% include 'DashboardPage/navbar.html' %}
    </header>
    <div class="dashboard_content">
        {% for widget in widgets %}
            {% with path|add:widget.slug|add:".html" as template %}
                {% include template %}
            {% endwith %}
        {% endfor %}
    </div>
</body>
</html>