* {
    margin: 0;
    padding: 0;
}

.dashboard_content {
    margin-top: 123px;
    margin-left: 129px;
    margin-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}